.dropmenu {
    /* visibility: hidden; */
    padding: 10px;
    background-color: white;
    height: auto;
    width: 280px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30px;
    border-radius: 8px;
    left: -62.5px;
    right: inherit;
    border: 1px solid #e5f0da;
    opacity: 0;
    visibility: hidden;
}

.drop {
    position: relative;
    transition: all 0.3s;
    z-index: 100;
}

.drop:hover .dropmenu {
    visibility: visible;
    pointer-events: painted;
    opacity: 1;
}