* {
    margin: 0px;
    padding: 0px;
}

#Home_main_div {
    width: 100%;
    height: auto;
    
}

#official_merch_store {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 30px;
    /* margin-top: 50px; */
}

#own_your_crazy_div {
    width: 100%;
}

#own_your_crazy_img {
    width: 98%;
    margin: auto;
}

#ni9_img_div {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    padding: 20px;
    width: 85%;
    margin-left: 100px;
    gap: 20px;
}

.ni9_images {
    /* border: 5px solid goldenrod; */
    width: 120px;
    height: 210px;
    margin: auto;
}

.ni9_images>p {
    font-size: 15px;
    font-weight: 550;
    margin-top: 10px;
}

#happy_surprise_div {
    width: 100%;
    margin: auto;
}

#happy_surprise_div>img {
    width: 100%;
}

#POPULAR_CATEGORIES {
    margin: auto;
}

#POPULAR_CATEGORIES>h1 {
    font-size: 25px;
    font-weight: 600;
}

#popular_categories_div {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: auto;
    width: 100%;
}

.popular_categories_img>img {
    margin: auto;
}

#discount_pe_discount_div {
    width: 100%;
}

#discount_img_div {
    width: 99%;
    display: flex;
    margin: auto;
    gap: 20px;
}

.discount_img {
    width: 100%;
}

#discount_pe_discount_div>h1 {
    font-size: 25px;
    font-weight: 600;
}

#bestsellers_for_men_div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: auto;
    gap: 20px;
    width: 97%;
    margin: auto;
}

.bestseller_img>img {
    margin: auto;
}

#bestsellers_for_men_main_div>h1 {
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 700;
}

#slide_div2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 98%;
    margin: auto;
    margin-top: 30px;
}

#stoopid_collection_grid_div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.stoopid_img>img {
    width: 100%;
    margin: auto;
}

#exclusive_div {
    width: 100%;
}

#exclusive_div>img {
    width: 100%;
}


/* for medium screen .........................................................................................*/

@media screen and (max-width:1300px) and (min-width:481px) {
    #ni9_img_div {
        grid-template-columns: repeat(4, 1fr);
    }
    #popular_categories_div {
        grid-template-columns: repeat(4, 1fr);
    }
    .popular_categories_img>img {
        margin: auto;
    }
    #discount_pe_discount_div {

        width: 100%;
    }
    .discount_img_div {
        display: block;
    }
}


/* for small screen........................................................... */

@media screen and (max-width:480px) and (min-width:320px) {
    #ni9_img_div {
        grid-template-columns: repeat(2, 1fr);
    }
    #popular_categories_div {
        grid-template-columns: repeat(3, 1fr);
    }
 
    .popular_categories_img>img {
        margin: auto;
    }
    #discount_pe_discount_div {
        width: 100%;
    }
    .discount_img_div {
        display: block;
    }
}